.navbar{
    background-color:lightgray;
}
.navbar-nav li a{
    color:gray;
    font-size: 15px;

}
#header i{
    float: left;
    margin-top: 20px;
    font-size: 40px;
}
#header p{
    float: left;
    margin-top: 15px;
    padding-left: 10px;
}
#header h1{
    font-size: 60px;
}
#header{
    margin-top: 30px;
}
#header .primary-text{
    font-size: 12px;
}

.menu .current{
    background-color: red;
}

.menu ul li {
}